---
title: Portfolio
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
			<!--<img width="200" height="200" src="images/wengdada_avatar.jpg">-->
				<h1>My Work</h1>
				<p>Some Android project,<br>
					It is just a start,I will make a bigger progress!.</p>
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
					
					
	
				
					
					
						<li>
						<div class="cbp_tmlabel">
							<h2>TimeMachine</h2>
							<time>2016</time>
							<img src="images/TimeMachineGIF.gif" height="300" >
							<ul>
								<li>
									软件主要用来模拟人脸的老化过程，服务器端是用JAVA代码实现文件传输的，利用的是Socket编程来进行文件传输，文件的传输暂时是利用校园网网络进行实验。
									Android端的代码也是用Socket编程实现和服务器端的对接。
									这一块的功能对应客户端的图片处理功能，当处理功能被选择时，会将选择好的文件传输到服务器端，服务器端保存起来准备下一步的处理流程。
									基局域网的文件传输效果很快，大约1秒内就可以将一张几M的图片传输完成，为了快速展示，目前使用的还是基于校内网的文件传输机制。
									
								</li>
								<li class="skill">
									<!--这里是一系列的图标 wengdada-->									<span><b>JS</b></span>
									<span><b>Ae</b></span>
									<span class="cbp_tmicon-font"></span>
									<span class="fa fa-css3"></span>
									<span class="i-react"></span>
									<span class="i-vue"></span>
									<span class="cbp_tmicon-video"></span>
									<span class="link"><a target="_blank" href="https://github.com/GitHub-Weng/TimeMachine">Try it</a></span>
									<span class="cbp_tmicon-phone"></span>
									<a href="https://github.com/GitHub-Weng/TimeMachine"><span class="i-kissy"></span></a>
<!-- 									<span class="link"><a target="_blank" href="http://alitrip.com">alitrip.com</a></span> -->
								</li>
							</ul>
						</div>
					</li>
				
					
					{% if site.duoshuo_username %}
					<li>
						<div class="cbp_tmlabel">
			                <!-- 多说评论框 start -->
			                <div class="comment">
			                    <div class="ds-thread"
									data-thread-key="{{site.duoshuo_username}}/portfolio"
			                        data-title="{{page.title}}"
			                        data-url="{{site.url}}{{site.baseurl}}{{page.url}}" >
			                    </div>
			                </div>
			                <!-- 多说评论框 end -->
						</div>
					</li> 
					{% endif %}
				</ul>
			</div>
		</div>
		{% if site.duoshuo_username %}
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<script type="text/javascript">
		    // dynamic User by Hux
		    var _user = '{{site.duoshuo_username}}';

		    // duoshuo comment query.
		    var duoshuoQuery = {short_name: _user };
		    (function() {
		        var ds = document.createElement('script');
		        ds.type = 'text/javascript';ds.async = true;
		        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		        ds.charset = 'UTF-8';
		        (document.getElementsByTagName('head')[0]
		         || document.getElementsByTagName('body')[0]).appendChild(ds);
		    })();
		</script>
		<!-- 多说公共JS代码 end -->
		{% endif %}
	</body>
</html>
